<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <style>
        .all{
            width: 150px;
            height: 100px;
            background-color: orange;
            border-radius: 15px;
            margin: 0 auto;
        }
        .text{
            text-align: center;
            font-size: 18px;
            font-family: 'Source Sans Pro',serif;
        }
        .index, .login{
            text-align: center;
            font-family: 'Source Sans Pro',serif;
            font-size: 16px;

    </style>
</head>
<body>
    <div class="all">
        <p class="text">Sign out</p>
        <p class="index"><a href="{% url 'index' %}">Go Index</a></p>
        <p class="login"><a href="{% url 'login' %}">Sign in Again</a></p>
    </div>
</body>
</html>